#navbar-scroll {
    transition: top 1.8s;
}

.my-navbar {
    display: inline !important;
    padding-bottom: 0;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #F8F9FA;
}


/* Загальний блок div */

.main-index {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 300px;
    background-color: rgba(20, 20, 20, 0.4);
}

@media (max-width:991.98px) {
    .main-index {
        padding-top: 100px;
    }
    .main {
        padding: 50px 0 20px;
    }
    .my-navbar {
        position: static;
        padding: 0;
    }
    .nav-header {
        padding: 0 20px;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
        background-color: #F8F9FA;
    }
}

@media (min-width: 991.98px) {
    .main {
        padding: 220px 0 20px;
    }
}

.my-navbar-toggler {
    margin: 10px 0 0 0;
    padding-right: 0;
    padding-left: 0;
}

.my-hmbg-inner,
.my-hmbg-inner:after,
.my-hmbg-inner:before {
    background-color: #DF3014;
}

.my-nav-link {
    color: #00093d;
    font-weight: 400;
    transition-duration: 0.3s;
}

.navbar-nav .nav-item .my-nav-link:hover {
    color: #DF3014;
}

.navbar-name img {
    max-height: 50px;
    margin: 10px 0 0 0;
}

.navbar-name-sm img {
    max-height: 60px;
    margin: 10px 0 15px 0;
}

.navbar-logo img {
    max-height: 60px;
}

.my-navbar-toggler:focus {
    outline: 0;
}

.collapse .my-dropdown-divider {
    border-top: 1px solid rgba(223, 48, 20, .3);
}

.dropdown-divider {
    margin: 0;
}

.d-div-ml {
    margin-left: 20px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.my-dropdown-menu {
    margin: 0;
    padding: 0;
    background-color: #F8F9FA;
    border: none;
    border-radius: 0;
    color: #00093d;
}

.my-dropdown-item {
    color: #00093d;
    padding: .5rem 1.5rem;
    transition-duration: 0.5s;
}

.my-dropdown-item:hover {
    color: #DF3014;
}

.background {
    background: url(../img/background.jpg) no-repeat center fixed;
    background-size: cover;
    width: 100%;
    top: 0;
    left: 0;
}


/* Девіз і 2 кнопки */

#motto a.btn-outline-success {
    background-color: #28a745;
    color: white;
}

#motto a.btn-outline-success:hover {
    background-color: #1c7932;
    transition-duration: 0.2s;
}

#motto a.btn-outline-danger {
    background-color: #dc3545;
    color: white;
}

#motto a.btn-outline-danger:hover {
    background-color: #9c1c29;
    transition-duration: 0.2s;
}

#motto .container .buttons {
    text-align: center;
    margin-top: 45px;
}

#motto .container .buttons .custom-button {
    /*display: inline-block !important;*/
    text-align: center;
    text-transform: uppercase;
    padding: 25px 55px;
    border-radius: 4px;
    margin: 10px;
    border: none;
    font-size: 1.2rem;
}

.intro-text {
    font-size: 45px;
    line-height: 55px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}


/*Професії*/

#prof {
    margin: 0;
    padding-top: 200px;
}

.container-prof {
    background-color: #EDF1F7;
    margin: 0;
    margin-left: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}


/*.section-header {
    text-align: center;
    padding-top: 60px;
    font-size: 35px;
}*/

.line {
    margin-right: 0;
    margin-left: 0;
    /* padding: 45px 0;*/
}

.specialty {
    padding: 20px 0 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 190px;
    height: 190px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 25px;
}

.details {
    position: relative;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 17px;
    text-align: center;
    overflow: hidden;
}


/*шторки*/

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.picover {
    position: relative;
    width: 190px;
}

.picover:hover .overlay {
    bottom: 0;
    height: 190px;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


/*Адміністрація ліцею*/

.administration {
    background-color: #EDF1F7;
    /*#FDF7F2;*/
}

.section-header h2 {
    padding-bottom: 50px;
    padding-top: 60px;
    font-size: 35px;
    line-height: 40px;
    position: relative;
    /*display: inline-block;*/
    text-transform: uppercase;
    margin: 0;
    /*margin-top: 15px;
    margin-bottom: 0;*/
    text-align: center;
}

.team-member {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    margin-bottom: 35px;
}

.team-member .profile-pic {
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 25px;
}

.profile-pic img {
    vertical-align: middle;
    max-width: 100%;
    border: 0;
}

.team-member h5 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    margin-top: 15px;
}

.team-member .position {
    font-size: 14px;
    text-align: center;
}


/* Footer */

.footer {
    background: #222222;
    padding: 30px 0 10px;
}

.footer .columns {
    padding-bottom: 20px;
}

.footer i {
    line-height: 52px;
    font-size: 36px;
    display: block;
    margin: 0 auto;
}

.footer .center-fb i {
    display: inline;
}

.footer a,
.footer p {
    text-decoration: none;
    color: #939393;
    margin: 0;
}

.footer a:hover {
    text-decoration: none;
}

.footer .mailto:hover {
    color: #34D293;
}

.footer .tel:hover {
    color: #2CAAE1;
}

.footer .facebook:hover {
    color: #4267B2;
}

.footer .fa-map-marker-alt {
    color: #CC2B27;
}

.footer .fa-envelope {
    color: #34D293;
}

.footer .fa-phone-square {
    color: #2CAAE1;
}

.footer .fa-facebook-square {
    color: #4267B2;
}


/*навчально-матеріальна база*/

article.base p {
    text-align: left;
}

article.base div.nvb {
    float: left;
}


/*навчально-матеріальна база*/


/* Entrance rules */

.rules h2,
.rules h3 {
    /*text-transform: uppercase;*/
    text-align: center;
    margin-bottom: 20px;
}

.rules p {
    text-align: justify;
}

.rules ol {
    margin-bottom: 20px;
}

.rules ul {
    list-style-type: disc;
}


/* зворотній зв"зок*/


/*.contact-form {
    margin: 3em;
    display: block;
}*/

.fon h2 {
    padding-bottom: 40px;
    padding-top: 60px;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.leftfield,
.rightfield,
.textfield {
    padding-bottom: 20px;
}

.fon .button-margin {
    margin-bottom: 60px;
    font-size: 1rem;
}


/*about*/


/*розміщення і шрифт h4 */

.text-header {
    text-align: center;
}

.marking-list {
    font-weight: bold;
}

.img-achievements {
    margin: 5px;
}


/* форматування картинок */

.fig {
    text-align: center;
    font-style: italic;
    font-size: 10pt;
    margin: 1em;
}

.fig-right {
    float: right;
    padding: 0;
    margin: 2px;
    font-style: italic;
    font-size: 10pt;
    border: 1px solid #333;
    padding: 7px;
}

.fig figcaption {
    margin: 1em;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Відео */

.video-section {
    height: 20%;
    background-color: transparent;
    color: white;
    padding-bottom: 60px;
}

.video-section h2 {
    text-align: center;
    font-size: 35px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.video {
    height: 400px;
    width: 100%;
}


/* Контакти */

article.contacts {
    margin-top: 15%;
}

.contForm form .form-group {
    border: 1.5px solid rgb(0, 0, 0);
}

.contForm form .form-group {
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.form-group textarea {
    outline: none;
}

.contForm form input {
    border: none;
    background: none;
}

.contForm form input[type="submit"] {
    background-color: green;
    margin-top: 20px;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
}

.contForm form input[type="submit"]:hover {
    border: 1px solid green;
    background-color: transparent;
    color: green;
    transition-duration: 0.5s;
}

.contForm form .input-button {
    width: 80%;
    margin: auto;
}


/*стилі для оголошення*/

.marq1 {
    font-size: 10pt;
    color: red;
}

.marq2 {
    color: #4e3f76;
    font-size: 10pt;
}

.foto-adv {
    width: 400px;
    height: 250px;
}

.textmain {
    text-align: center;
    color: #4e3f76;
}


/*achievements форматування тексту і маркерів списку*/

.li-mark {
    list-style-type: none;
    /* Убираем маркеры у списка */
}

.li-mark:before {
    content: "– ";
    /* Добавляем в качестве маркера символ */
}

.p-indentation {
    text-indent: 1.5em;
    text-align: justify;
}


/* MEDIA */

@media (max-width: 767px) {
    .intro-text {
        font-size: 41px;
        line-height: 49px;
    }
    .video {
        height: 200px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .intro-text {
        font-size: 32px;
        line-height: 37px;
    }
}

@media (max-width: 320px) {
    .intro-text {
        font-size: 22px;
        line-height: 30px;
    }
}


/* MEDIA */


/* Gallery*/

.gal-header h2 {
    margin-bottom: 40px;
    overflow: hidden;
}

.gal-header h4 {
    margin-bottom: 20px;
    overflow: hidden;
}

.gal-header span {
    font-size: 0.8rem;
    font-weight: 100;
    color: #5A5A5A;
}

.thumbnail {
    margin: 0;
}

.gallery .thumbnail img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    overflow: hidden;
    transition: 0.5s;
}

.gallery .thumbnail img:hover {
    transform: scale(1.02);
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.gallery .photo img {
    height: auto;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}

.gallery .photo img:hover {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gal_about a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
}

.gal_about a:hover {
    text-decoration: none;
    color: #008CBA;
}

.gal_about p {
    font-size: 0.8rem;
    margin-top: 10px;
    color: #5A5A5A;
}

.importInfo {
    list-style: decimal;
}

.importInfo li a {
    color: green;
}

.importInfo li a:hover {
    text-decoration-style: solid;
    text-decoration-color: red;
    transition-duration: 0.5s;
}